


@font-face {
  font-family: "neubau";
  src: url("../public/assets/fonts/neubau-pro/NeubauPro.ttf");
}


@font-face {
  font-family: "placard";
  src: url("../public/assets/fonts/placard-mt-std/PlacardMTStdCondensed.OTF");
}


@font-face {
  font-family: "sf";
  src: url("../public/assets/fonts/sf-compact-text/sf-compact-text-heavy-58646f645b774.otf");
}


